<a href="https://colab.research.google.com/github/Shivamongh/Shivamongh/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
placement_data = pd.read_csv('/content/Placement_Data_Full_Class.csv')

In [ ]:
placement_data.head(10)

   sl_no gender  ssc_p    ssc_b  ...  specialisation  mba_p      status    salary
0      1      M  67.00   Others  ...          Mkt&HR  58.80      Placed  270000.0
1      2      M  79.33  Central  ...         Mkt&Fin  66.28      Placed  200000.0
2      3      M  65.00  Central  ...         Mkt&Fin  57.80      Placed  250000.0
3      4      M  56.00  Central  ...          Mkt&HR  59.43  Not Placed       NaN
4      5      M  85.80  Central  ...         Mkt&Fin  55.50      Placed  425000.0
5      6      M  55.00   Others  ...         Mkt&Fin  51.58  Not Placed       NaN
6      7      F  46.00   Others  ...         Mkt&Fin  53.29  Not Placed       NaN
7      8      M  82.00  Central  ...         Mkt&Fin  62.14      Placed  252000.0
8      9      M  73.00  Central  ...         Mkt&Fin  61.29      Placed  231000.0
9     10      M  58.00  Central  ...         Mkt&Fin  52.21  Not Placed       NaN

[10 rows x 15 columns]

In [ ]:
placement_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sl_no           215 non-null    int64
 1   gender          215 non-null    object
 2   ssc_p           215 non-null    float64
 3   ssc_b           215 non-null    object
 4   hsc_p           215 non-null    float64
 5   hsc_b           215 non-null    object
 6   hsc_s           215 non-null    object
 7   degree_p        215 non-null    float64
 8   degree_t        215 non-null    object
 9   workex          215 non-null    object
 10  etest_p         215 non-null    float64
 11  specialisation  215 non-null    object
 12  mba_p           215 non-null    float64
 13  status          215 non-null    object
 14  salary          148 non-null    float64
dtypes: float64(6), int64(1), object(8)
memory usage: 25.3+ KB

In [ ]:
placement_data.isnull().sum()

sl_no              0
gender             0
ssc_p              0
ssc_b              0
hsc_p              0
hsc_b              0
hsc_s              0
degree_p           0
degree_t           0
workex             0
etest_p            0
specialisation     0
mba_p              0
status             0
salary            67
dtype: int64

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
imputer = SimpleImputer(strategy='mean', missing_values=np.nan)

In [ ]:
data_impute = ['salary']

In [ ]:
output_data = imputer.fit_transform(placement_data[data_impute])
placement_data[data_impute] = output_data 
placement_data

     sl_no gender  ssc_p  ...  mba_p      status         salary
0        1      M  67.00  ...  58.80      Placed  270000.000000
1        2      M  79.33  ...  66.28      Placed  200000.000000
2        3      M  65.00  ...  57.80      Placed  250000.000000
3        4      M  56.00  ...  59.43  Not Placed  288655.405405
4        5      M  85.80  ...  55.50      Placed  425000.000000
..     ...    ...    ...  ...    ...         ...            ...
210    211      M  80.60  ...  74.49      Placed  400000.000000
211    212      M  58.00  ...  53.62      Placed  275000.000000
212    213      M  67.00  ...  69.72      Placed  295000.000000
213    214      F  74.00  ...  60.23      Placed  204000.000000
214    215      M  62.00  ...  60.22  Not Placed  288655.405405

[215 rows x 15 columns]

In [ ]:
placement_data.drop(['gender', 'ssc_b', 'hsc_b'], axis=1, inplace=True)
placement_data

     sl_no  ssc_p  hsc_p  ...  mba_p      status         salary
0        1  67.00  91.00  ...  58.80      Placed  270000.000000
1        2  79.33  78.33  ...  66.28      Placed  200000.000000
2        3  65.00  68.00  ...  57.80      Placed  250000.000000
3        4  56.00  52.00  ...  59.43  Not Placed  288655.405405
4        5  85.80  73.60  ...  55.50      Placed  425000.000000
..     ...    ...    ...  ...    ...         ...            ...
210    211  80.60  82.00  ...  74.49      Placed  400000.000000
211    212  58.00  60.00  ...  53.62      Placed  275000.000000
212    213  67.00  67.00  ...  69.72      Placed  295000.000000
213    214  74.00  66.00  ...  60.23      Placed  204000.000000
214    215  62.00  58.00  ...  60.22  Not Placed  288655.405405

[215 rows x 12 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [ ]:
hsc_s = LabelEncoder()
degree_t = LabelEncoder()
workex= LabelEncoder()
specialisation = LabelEncoder()
status = LabelEncoder()

In [ ]:
placement_data['hsc_s'] = hsc_S.fit_transform(placement_data['hsc_s'])
placement_data['degree_t'] = degree_t.fit_transform(placement_data['degree_t'])
placement_data['workex'] = workex.fit_transform(placement_data['workex'])
placement_data['specialisation'] = specialisation.fit_transform(placement_data['specialisation'])
placement_data['status'] = status.fit_transform(placement_data['status'])

In [ ]:
placement_data.head()

   sl_no  ssc_p  hsc_p  hsc_s  ...  specialisation  mba_p  status         salary
0      1  67.00  91.00      1  ...               1  58.80       1  270000.000000
1      2  79.33  78.33      2  ...               0  66.28       1  200000.000000
2      3  65.00  68.00      0  ...               0  57.80       1  250000.000000
3      4  56.00  52.00      2  ...               1  59.43       0  288655.405405
4      5  85.80  73.60      1  ...               0  55.50       1  425000.000000

[5 rows x 12 columns]

In [ ]:
columns_to_list = ['sl_no','ssc_p', 'hsc_p','hsc_s', 'degree_p', 'degree_t', 'workex','etest_p', 'specialisation', 'mba_p', 'salary']
columns_to_list

['sl_no',
 'ssc_p',
 'hsc_p',
 'hsc_s',
 'degree_p',
 'degree_t',
 'workex',
 'etest_p',
 'specialisation',
 'mba_p',
 'salary']

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler_data = StandardScaler()
x = scaler_data.fit_transform(placement_data[columns_to_list])
x

array([[-1.72401341e+00, -2.80869697e-02,  2.26881230e+00, ...,
         1.12390297e+00, -5.97646723e-01, -2.41407810e-01],
       [-1.70790113e+00,  1.11336869e+00,  1.10344799e+00, ...,
        -8.89756521e-01,  6.87620203e-01, -1.14723356e+00],
       [-1.69178886e+00, -2.13237928e-01,  1.53312755e-01, ...,
        -8.89756521e-01, -7.69473852e-01, -5.00215168e-01],
       ...,
       [ 1.69178886e+00, -2.80869697e-02,  6.13345137e-02, ...,
        -8.89756521e-01,  1.27870553e+00,  8.21013883e-02],
       [ 1.70790113e+00,  6.19941383e-01, -3.06437275e-02, ...,
         1.12390297e+00, -3.51933928e-01, -1.09547209e+00],
       [ 1.72401341e+00, -4.90964364e-01, -7.66469657e-01, ...,
         1.12390297e+00, -3.53652200e-01, -7.53228548e-16]])

In [ ]:
y = placement_data['status']
y

0      1
1      1
2      1
3      0
4      1
      ..
210    1
211    1
212    1
213    1
214    0
Name: status, Length: 215, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
xtrain, xtest, ytrain,ytest = train_test_split(x,y)

In [ ]:
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB

In [ ]:
classification_1 = SVC()
classification_1.fit(xtrain,ytrain)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
classification_2 = GaussianNB()
classification_2.fit(xtrain, ytrain)

GaussianNB(priors=None, var_smoothing=1e-09)

In [ ]:
from sklearn.metrics import confusion_matrix, classification_report

In [ ]:
#ypred = classification_1.predict(xtest)
#ypred

In [ ]:
#print(confusion_matrix(ytest,ypred))

In [ ]:
#print(classification_report(ytest, ypred))

In [ ]:
ypred = classification_2.predict(xtest)
ypred

array([1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1,
       1, 0, 1, 1, 1, 1, 1, 0, 1, 1])

In [ ]:
print(confusion_matrix(ytest, ypred))

[[17  0]
 [ 0 37]]

In [ ]:
print(classification_report(ytest, ypred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        17
           1       1.00      1.00      1.00        37

    accuracy                           1.00        54
   macro avg       1.00      1.00      1.00        54
weighted avg       1.00      1.00      1.00        54

In [ ]:
placement_data.to_csv('Placement_prediction.csv')

In [ ]:
from joblib import dump

In [ ]:
model={
    'hsc_s':	hsc_s,
    'degree_t': degree_t,
    'workex':workex,
    'specialisation':specialisation,
    'status':status,
    'Title':'Placement_prediction',
    'classifier':'SVC',
    'column_names':['sl_no','ssc_p', 'hsc_p', 'hsc_s','degree_p', 'degree_t', 'workex','etest_p','specialisation','mba_p','salary' ],
    'accuracy':'Accuracy Present 100 percent'
}

In [ ]:
dump(model, 'NaiveBoyes_classifier.joblib')

['NaiveBoyes_classifier.joblib']